<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ORDERS</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Date of Order Placement</th>
        <th scope="col">Client UserName</th>
        <th scope="col">Balloon color</th>
        <th scope="col">Balloon size</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${#temporals.format(order.placedAt, 'dd-MM-yyyy HH:mm:ss')}"></td>
        <td th:text="${order.getUser().getUsername()}"></td>
        <td th:text="${order.getBalloonColor()}"></td>
        <td th:text="${order.getBalloonSize()}"></td>
    </tr>
    </tbody>
    <form th:method="GET" th:action="@{'/balloons'}">
        <button type="submit" class="btn btn-sm btn-primary">To Balloons</button>
    </form>
    <form th:method="POST" th:action="@{/ConfirmationInfo}">
        <input type="submit" value="Log Out">
    </form>
</table>
</body>
</html>